@tailwind base;
@tailwind components;
@tailwind utilities;

.css-zanzjh-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
  position: fixed !important;
}
.css-1ygil4i-MuiToolbar-root {
  padding-left: 35px !important;
  padding-right: 38px !important;
}
.background-text {
  width: 49%;
  padding: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.css-18k2bs-MuiAvatar-root {
  width: 170px;
  height: 170px;
  font-size: 6.25rem;
}
.book-slot {
  border: 1px solid rgb(188, 192, 194) !important;
}
.modal-heading {
  display: flex;
  justify-content: space-between;
}
.form-fields {
  display: flex;
  gap: 3%;
}

.css-1sdwht6-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}
.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-5lnhk4-MuiTypography-root {
  color: black !important;
}
.css-1588512-MuiButtonBase-root-MuiButton-root {
  color: #060606 !important;
}
.css-1ygil4i-MuiToolbar-root {
  justify-content: space-between !important;
}
.header-email {
  color: #060606;
  padding-right: 20px;
}
.logout-button {
  border: 1px solid black !important;
}
.css-1588512-MuiButtonBase-root-MuiButton-root {
  border: 1px solid black !important;
  padding: 2px 7px !important;
}
.css-1588512-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #0778f7;
}
.css-f2z2f9-MuiPaper-root-MuiAppBar-root {
    background-color: #f1f5f9 !important;
}
.css-1sv74b4-MuiPaper-root-MuiAppBar-root {
    background-color: #f1f5f9 !important;
}
.search-date{
  height: 40px;
  width: 170px;
}
.css-7mxpdy-MuiPaper-root-MuiAppBar-root {
  background-color: #f1f5f9 !important;
}
